<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Туристическая карта</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>
   <!-- <script src="https://api-maps.yandex.ru/v3/?apikey=53867170-206d-4afe-809c-95fa44eb2eb1&lang=ru_RU"></script>-->
    <script src="https://api-maps.yandex.ru/2.1/?apikey=53867170-206d-4afe-809c-95fa44eb2eb1&lang=ru_RU&load=package.full" type="text/javascript"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="d-flex align-items-stretch">
        <aside id="sidebar" class="sidebar bg-white border-end vh-100 d-flex flex-column justify-content-between">
            {% block sidebar %}
            <div class="container">
                <div class="sidebar-header p-5 d-flex align-items-center mb-5" id="logo">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <img src="{% static 'images/logo.png' %}" width="40">
                        <span class="fs-4 px-2">Туристическая карта</span>
                    </a>
                </div>
                <ul class="nav nav-pills flex-column gap-4 px-2">
                  <li class="nav-item">
                    <a href="#" class="nav-link link-dark">
                      <span class="ms-2 d-none d-sm-block sidebar-text">Главная страница</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link link-dark">
                      <span class="ms-2 d-none d-sm-block sidebar-text">Отмеченные места</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link link-dark">
                      <span class="ms-2 d-none d-sm-block sidebar-text">Подборка мест</span>
                    </a>
                  </li>
                </ul>
            </div>
            {% if user.is_authenticated %}
                <div class="dropdown sidebar-user p-4 d-flex align-items-center">
                  <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                  </a>
                  <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                    <form method="post" action="{% url 'logout' %}?next={{ request.path }}" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit" style="background:none; border:none; color:#337ab7; text-decoration:underline; cursor:pointer; padding:0; margin:0; font-family:inherit; font-size:inherit;">
                        Выйти
                      </button>
                    </li>
                  </ul>
                </div>
            {% else %}
                 <a href="{% url 'login' %}?next={{ request.path }}" class="p-4 d-flex align-items-center nav-link link-dark">
                      <span class="ms-2 d-none d-sm-block sidebar-text">Войти</span>
                 </a>
            {% endif %}
            {% endblock %}
        </aside>
        <div class="flex-grow-1">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>