{% extends "base_generic.html" %}

{% block content %}
<main class="d-flex flex-column vh-100 overflow-hidden">
    <div id="app" class="w-100 h-100"></div>
</main>

<script type="text/javascript">
    let map = null;

    function init() {
        const container = document.getElementById("app");
        if (!container) return;
        map = new ymaps.Map("app", {
            center: [55.753994, 37.622093], 
            zoom: 12,
            controls: ['zoomControl', 'fullscreenControl']
        });

       /* ymaps.search('музеи', {
            boundedBy: map.getBounds(),
            strictBounds: false,
            results: 50
        }).then(function (res) {
            map.geoObjects.add(res.getGeoObjects());
        }).catch(function (err) {
            console.error("Ошибка поиска:", err);
        });*/
        
        window.addEventListener('resize', () => map.container.fitToViewport());
    }
    ymaps.ready(init); 
</script>
{% endblock %}