{% extends "base_generic.html" %}

{% block content %}
<main class="d-flex flex-column vh-100 overflow-hidden">
    <div id="app" class="w-100 h-100"></div>
</main>

<script type="text/javascript">
    const LOCATION = {
        center: [55.733842, 37.588144],  // Москва (пример)
        zoom: 10
    };
    
    let map = null;
    
    function init() {
        map = new ymaps.Map("app", {
            center: LOCATION.center,
            zoom: LOCATION.zoom,
            controls: ['zoomControl', 'fullscreenControl']
        });
        
        map.setType('yandex#map');
        map.controls.add('typeSelector');
        map.controls.add('geolocationControl');
        window.addEventListener('resize', function() {
            map.container.fitToViewport();
        });
    }
    
    ymaps.ready(init);
</script>
{% endblock %}